.git
.gitignore
.vscode/
.idea/
**/.DS_Store

# Python
**/__pycache__/
**/*.py[cod]
server/.venv/
server/venv/

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env/секреты
.env
.env.*
